:host{
  grid-column: 2/3;
  align-self: self-end;
}

.footerPage{
  padding: 2rem 4rem;
  color: #A9A9A9;
  &-content{
    //text-align: center;
  }
  
  &-link{
    font-weight: 700;
    text-decoration: underline;
  }
}
