<form class="btnStyler">
  <label *ngFor="let input of inputStylerList.slice(0,3)" 
    class="btnStyler-label"
    [for]="input">
    <p class="btnStyler-name">{{input}} :</p>
    <div class="inputColor-wrapper">
      <app-input-base
      typeInput="color"
      [nameInput]= "input"
      [valueInput]="'input'"
      [idInput]="input"
      [(valueInput)]="stylerList[input]"
      [styleInput]="{
        'border-radius': 'var(--radius)',
        'width': '2.7rem',
        'height': '1.7rem',
        'scale': '2',
      }">
      </app-input-base>
    </div>
  </label>

  <label *ngFor="let input of inputStylerList.slice(3,5), index as i"
    class="btnStyler-label" 
    [for]="input">
    <p class="btnStyler-name">{{input}}</p>
    <div class="inputText-wrapper">
      <app-option-selector
      [selectId]="input"
      [selectName]="input"
      [index]="i"
      [(valueInput)]="stylerList[input]"
      >
    </app-option-selector>
    {{input}}
    </div>
  </label>

  <label *ngFor="let input of inputStylerList.slice(5,7)" 
    class="btnStyler-label" 
    [for]="input">
    <p class="btnStyler-name">{{input}} :</p>
    <div class="inputText-wrapper">
      <app-input-base
      typeInput="number"
      [nameInput]= "input"
      [idInput]="input"
      [(valueInput)]="stylerList[input]"
      >
      </app-input-base>
    </div>
  </label>  
</form>

{{stylerList | json}}