:host {
  grid-area:1/2/2/3 ; 
  padding: 4rem 4rem 4rem 4rem;
}

.generator {

  &-title {
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    padding-bottom: 2rem;
  }
  
  &-content {
    display: grid;
    gap: 2rem;
    align-items: center;
    @media screen and (min-width:65rem) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
